*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "YatraOne";
  src: url('../fonts/YatraOne.ttf') format('truetype');
}

body {
  background-image: url('../images/bg.jpg');
  background-blend-mode: multiply;
  background-color: #615d5d;
  background-size: cover;
}

nav {
  background-color: #00796b;
}

.logo {
  color: aqua;
  font: 4em "YatraOne" ;
  width: fit-content;
  margin: 20px auto;
}